<form method="post" action="{{ path('category_delete', {'slug': category.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.slug) }}">
    <button class="btn">Delete</button>
</form>