{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="white-text">Category index</h1>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card white">
                <div class="card-content">
                    {% for category in categories %}
                        <a href="{{ url("category_show",{"slug":category.slug}) }}" class="chip waves-effect">
                            {{ category.name }}
                        </a>

                    {% else %}
                        No category.

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}