{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="white-text">{{ category.name }}</h1>
    </div>
    {% for item in category.posts %}
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <div class="card horizontal white darken-1">
                    {% if item.content.image is not null %}
                        <div class="card-image">
                            <img src="{{ item.content.image }}">
                        </div>
                    {% endif %}

                    <div class="card-content">
                        <div class="card-content">
                            <span class="card-title">{{ item.title }}</span>

                            {{ item.description }}
                            {% for category in item.categories %}
                                <a href="{{ url("category_show",{"slug":category.slug}) }}" class="chip">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="card-action">
                            <a class="btn indigo" href="{{ item.url }}" target="_blank">Open in new tab</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}