@import "colors";

$input-focus-color: $primary !important;

@import "~materialize-css/sass/materialize";

html {
  background: $primaryGradient;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  min-height: 100vh;
  background-size: cover;
}

* {
  font-family: 'Raleway', sans-serif;
}

.card-content {
  overflow-x: hidden;
}