<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper white">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left">
            <li data-target="slide-out" class="sidenav-trigger"><a><i class="fal  black-text fa-bars"></i></a>
            </li>
        </ul>
    </div>
</nav>


<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="https://source.unsplash.com/random">
            </div>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">johnDoe@gmail.com</span></a>
        </div>
    </li>
    <li>
        <a href="{{ path("index") }}">Home page</a>
    </li>

    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Top Categories</a></li>
    {{ render(controller('App\\Controller\\IndexController::topCategories',{'max':5})) }}
    <li><a class="waves-effect" href="{{ path('category_index') }}">View all</a></li>

    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Account</a></li>
    <li><a class="waves-effect" href="#!">Logout</a></li>
    <li><a href='javascript:var url = window.location.href;
     var strWindowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
           var windowObjectReference = window.open("http://link.d3c.re/?qp="+url, "CNN_WindowName", strWindowFeatures);'>quick publish</a></li>
</ul>


{% block body %}{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, []);
    });
    var collapsibleElem = document.querySelector('.collapsible');
    var collapsibleInstance = M.Collapsible.init(collapsibleElem, []);

</script>
{% block javascripts %}{% endblock %}

</body>
</html>
