{% extends 'base.html.twig' %}
{% block title %}Veille{% endblock %}
{% form_theme form "forms/materialize_layout.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            {{ form_start(form,{ 'attr': {'autocomplete': 'off'}} ) }}
            <div class="card white darken-1">
                <div class="card-content white-text">
                    <span class="card-title indigo-text">Add new URL</span>
                    <div class="input-field">
                        <i class="material-icons grey-text prefix fal fa-link"></i>
                        {{ form_widget(form.url, {'attr':{'autocomplete':'off','autofocus':'autofocus'}}) }}
                        {{ form_label(form.url) }}
                    </div>

                    <button type="submit" class="btn-floating btn-large right red waves-effect waves-light">
                        <i class="material-icons right fal fa-plus"></i>
                    </button>
                </div>
            </div>
            {{ form_end(form) }}</p>

        </div>
    </div>
    <div class="row">
        <h1 class="white-text">Last entries</h1>
    </div>
    {% for item in last %}
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <div class="card horizontal white darken-1">
                    {% if item.content.image is not null %}
                        <div class="card-image">
                            <img src="{{ item.content.image }}">
                        </div>
                    {% endif %}

                    <div class="card-content">
                        <div class="card-content">
                            <span class="card-title">{{ item.title }}</span>

                            {{ item.description }}
                            {% for category in item.categories %}
                                <a href="{{ url("category_show",{"slug":category.slug}) }}" class="chip">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="card-action">
                            <a class="btn indigo" href="{{ item.url }}" target="_blank">Open in new tab</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
