{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.Title }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ post.Url }}</td>
        </tr>
        <tr>
            <th>Categories</th>
            <td>{{ post.categories|join(",") }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ post.Description }}</td>
        </tr>
        <tr>
            <th>content</th>
            <td>
                <pre>{{ post.content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}